<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
	<add key="LoopTimerInSeconds" value="15"/>
	<add key="AllowedFileExtensions" value=".txt|"/>
</appSettings>
</configuration>